.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 1000px;
    min-width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }